:root {
  color-scheme: light;

  --color-black-40: #a6a6a6;
  --color-text-primary: #1a1a1a;
  --color-background-main: #f2f1ee;
  --color-background-black: #1a1a1a;
  --color-green-normal: #3aa65e;
  --color-black-90: #1a1a1a;
  --color-background-green: #6cc989;
  --color-background-orange: #ffd6c5;
  --color-white: #ffffff;
  --gradient-soft-overlay: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15) 0%,
    rgba(42, 42, 42, 0) 100%
  );
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  max-width: 100vw;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, sans-serif;
  background-color: var(--color-background-main);
  color: var(--color-text-primary);
}

a {
  color: inherit;
  text-decoration: none;
}
