.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--color-background-black);
  color: var(--color-white);
  font-family: "Gramatika", "PT Sans", sans-serif;
  font-weight: 400;
}

@media (max-width: 1280px) {}

@media (max-width: 768px) {}

@media (max-width: 360px) {}