@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@font-face {
  font-family: "Gramatika";
  src: url("/fonts/Gramatika-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gramatika";
  src: url("/fonts/Gramatika-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  color-scheme: light;

  --color-black-40: #a6a6a6;
  --color-text-primary: #1a1a1a;
  --color-background-main: #f2f1ee;
  --color-background-black: #1a1a1a;
  --color-green-normal: #3aa65e;
  --color-black-90: #1a1a1a;
  --color-background-green: #6cc989;
  --color-background-orange: #ffd6c5;
  --color-white: #ffffff;
  --gradient-soft-overlay: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15) 0%,
    rgba(42, 42, 42, 0) 100%
  );
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  max-width: 100vw;
}

body {
  font-family: "Gramatika", "PT Sans", sans-serif;
  font-weight: 400;
  background-color: var(--color-background-main);
  color: var(--color-text-primary);
}

a {
  color: inherit;
  text-decoration: none;
}

.pt-sans-regular {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.pt-sans-bold {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.pt-sans-regular-italic {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.pt-sans-bold-italic {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
}
